.login{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  *:focus {
    outline: none;
  }

  .content {
    padding:30px 0px 10px;
  }

  #icon {
    width: 60%;
  }
}
