
.rc-notification {
    position: fixed;
    top: 14px;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, 0);
    z-index: 9999;
    .all-icon {
        font-size: 14px;
        pointer-events: all;
        padding: 10px 12px;
        border-radius: 6px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        background: #fff;
        color: #495060;
        .icon{
            margin-right:4px;
        }
    }
}