@import "../../assets/base.scss";

.userInfo {
  padding: 20px 20px;
  p {
    font-size: 12px;
    padding: 10px 0px;
  }
  .name {
    font-size: 16px;
    padding-top: 10px;
  }
  .icon {
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
  }
  .website, .github {
    cursor: pointer;
  }
  .personalInfoBtn {
    margin: 20px 10px 0px;
    padding: 8px 30px !important;
  }
  .deleteBtn {
    background-color: $warnRed;
  }
}