.userInfo {
 padding: 10px 0;
  p {
    font-size: 12px;
    padding-top: 10px;
  }
  .name {
    font-size: 16px;
    padding-top: 10px;
  }
  .icon {
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
  }
}