 @import "../../assets/base.scss";

 .searchBox {
        border-radius: 4px;
        background-color: #fff;
        .icon {
            font-size: 26px;
            position: absolute;
        }
        /*在IE10+浏览器中, 使用css即可隐藏input文本输入框右侧的叉号*/
        ::-ms-reveal,input[type=text]::-ms-clear {
            display: none;
        }
        ::-ms-reveal,input::-ms-clear {
            display: none;
        }
        input {
            /*去除点击出现轮廓颜色*/
            border-radius: 4px;
            outline: none;
            border: 1px solid #fff;
            background-color: $backgroundColor;
            padding-left: 35px;
            height: 26px;
            -webkit-appearance: none;
            /*去除系统默认的样式，苹果手机上的阴影*/
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }