{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "webextensions": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      1,
      {
        "peerDependencies": true,
        "devDependencies": true
      }
    ],
    "import/no-unresolved": 1,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "linebreak-style": "off",
    "no-await-in-loop": 0,
    "no-console": 0,
    "no-empty-function": 1,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": [
      2,
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/no-array-index-key": 0,
    "react/require-default-props": 1
  }
}
