**/*.md
**/*.svg
**/*.png
**/*.ejs
**/*.html
build
.cache
.idea
.vscode
.history
node_modules
package.json
package-lock.json
.DS_Store
.eslintignore
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
