@import "../../assets/base.scss";

.baseButton {
  background-color: $blue;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  cursor: pointer;
}

.disable {
  background-color: $backgroundColor;
  color: $gray;
  cursor: not-allowed;
}
