@import "../../assets/base.scss";
.tabs-wrapper{
    background-color: $gray-tab;
    align-items: center;
    text-align: center;
    .tab .icon{
        font-size: 44px;
        padding: 6px;
    }
    .userAvatar {
        font-size: 14px;
        text-align: center;
    }
}
