 .groupModalContent {
        font-size: 22px;
        margin-top: 20px;
        p{
            input, textarea  {
                font-size: 16px;
                width: 70%;
                outline: none;
                resize: none;
                border: 1px solid #fff;
                color: #999; 
            }
            span {
                float: left;
                margin-top: 4px;
                margin-left: 20px;
                margin-right: -10px;
            }
            textarea {
                padding-top: 6px;
            }
            input::-webkit-input-placeholder , textarea::-webkit-input-placeholder {
                /* WebKit browsers */
                // font-size: 0.24rem;
                color: #cccccc;
            }
            input:-moz-placeholder, textarea:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                // font-size: 0.24rem;
                color: #cccccc;
            }
            input::-moz-placeholder, textarea::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                // font-size: 0.24rem;
                color: #cccccc;
            }
            input:-ms-input-placeholder, textarea:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: #cccccc;
            }
        }
    }