@import "../../assets/base.scss";
.home-page-list-wrapper {
    height: 100%;
    .home-page-list-content {
        overflow-y: auto;
        .searchResult {
            .searchResultTitle {
                padding-left: 10px;
            }
            p {
                color: $title;
                font-size: 14px;
                padding: 10px 0;
            }
            .clickToSearch {
                text-align: right;
                padding-right: 10px;
                margin-bottom: 10px;
                color: $blue;
                cursor:pointer;
            }
            .search-none {
                text-align: center;
            }
        }
    }
}