@import "../../assets/base.scss";
.home-page-list-wrapper {
    height: 100%;
    .home-page-list-content {
        overflow-y: auto;
        .search-result {
            p {
                color: $m-title;        
                font-size: 14px;
                padding: 10px 0;
            }
            .click-to-search {
                text-align: right;
                padding-right: 10px;
                margin-bottom: 10px;
                color: $blue;
                cursor:pointer;
            }
            .search-none {
                text-align: center;
            }
        }
    }
}