.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 100;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    //Mozilla内核浏览器：firefox3.5+
    -webkit-transform: translate(-50%, -50%); //Webkit内核浏览器：Safari and Chrome
    -o-transform: translate(-50%, -50%);
    //Opera
    -ms-transform: translate(-50%, -50%);
    //IE9
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
    text-align: center;
    z-index: 999;
    @keyframes fade {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.8);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
    h1 {
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        border-bottom: 1px solid rgb(235, 232, 232);
    }
    p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.808);
        margin-bottom: 16px;
    }
    /*在IE10+浏览器中, 使用css即可隐藏input文本输入框右侧的叉号*/
    ::-ms-reveal,
    input[type=text]::-ms-clear {
        display: none;
    }
    ::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    input {
        // display: inline-block;
        /*去除点击出现轮廓颜色*/
        width: 60%;
        outline: none;
        border: 1px solid #fff;
        border-bottom: 1px solid #999;
        padding: 6px 0 10px 10px;
        font-size: 28px;
        -webkit-appearance: none;
        /*去除系统默认的样式，苹果手机上的阴影*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /*点击高亮的颜色*/
        /*padding已在重置样式中去除，如果没有去除，记得有padding哦*/
    }
    .hasCancel {
        height:40px;
        p {
            background: transparent;
            color: #1678E5;
            font-size: 14px;
            height:40px;
            line-height:40px;
            width: 50%;
            position: absolute;
        }
        p:nth-of-type(1) {
            border-top: 1px solid rgb(235, 232, 232);;
            border-right: 1px solid rgb(235, 232, 232);
            left: 0;
            border-radius: 0 0 0 8px;
        }
        p:nth-of-type(2) {
            border-top: 1px solid rgb(235, 232, 232);
            right: 0;
            border-radius: 0 0 8px 0;
        }
        p:focus,
        p:hover {
            font-weight: bold;
            background: #EFEFEF;
        }
        p:active {
            background: #D6D6D6;
        }
    }
    .noCancel {
        height:40px;
        p {
            background: transparent;
            color: #1678E5;
            height:40px;
            font-size: 16px;
            line-height:40px;
            width: 100%;
            position: absolute;
            text-decoration: none;
            border-top: 1px solid rgb(235, 232, 232);
            left: 0;
            right: 0;
            border-radius: 0 0 0 8px;
        }
        p:focus,
        p:hover {
            font-weight: bold;
            background: #EFEFEF;
        }
        p:active {
            background: #D6D6D6;
        }
    }
    .editor-info {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        div {
            width: 100%;
            margin: 20px auto;
            select {
                width: 60%;
            }
            input {
                font-size: 8px;
            }
        }
    }
}