@import "../../assets/base.scss";
.dialogRender {
    h3 {
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        border-bottom: 1px solid rgb(235, 232, 232);
    }
    p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.808);
        margin-bottom: 10px;
    }

    .twoButton {
        height:40px;
        p {
            background: transparent;
            color: $blue;
            font-size: 14px;
            height:40px;
            line-height:40px;
            width: 50%;
            position: absolute;
            cursor: pointer;
        }
        p:nth-of-type(1) {
            border-top: 1px solid rgb(235, 232, 232);;
            border-right: 1px solid rgb(235, 232, 232);
            left: 0;
            border-radius: 0 0 0 8px;
        }
        p:nth-of-type(2) {
            border-top: 1px solid rgb(235, 232, 232);
            right: 0;
            border-radius: 0 0 8px 0;
        }
        p:focus,
        p:hover {
            font-weight: bold;
            background: #EFEFEF;
        }
        p:active {
            background: #D6D6D6;
        }
    }
    .oneButton {
        height:40px;
        p {
            background: transparent;
            color: $blue;
            height:40px;
            font-size: 16px;
            line-height:40px;
            width: 100%;
            position: absolute;
            text-decoration: none;
            border-top: 1px solid rgb(235, 232, 232);
            left: 0;
            right: 0;
            border-radius: 0 0 0 8px;
        }
        p:focus,
        p:hover {
            font-weight: bold;
            background: #EFEFEF;
        }
        p:active {
            background: #D6D6D6;
        }
    }
}
