@import "../../assets/base.scss";
.chat-information {
    height: calc(100% - 50px);
    width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $background-color;
    opacity: 0.8;
    z-index: 99;
    .info {
      padding-left: 16px;
      padding-top: 20px;
    }
}