@import "../../assets/base.scss";
.header-wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid $border;
    display: flex;
    height: 50px;
    align-items: center;
    .githubIcon {
        font-size: 26px;
        margin: 0 10px;
        cursor: pointer;
    }
    .add {
        font-size: 22px;
        position: absolute;
        right: 10px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
    }

}