@import "../../assets/base.scss";
.chat-header-wrapper{
    border-bottom: 1px solid $border;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 26px;
    .chat-title{
        padding-left: 20px;
        font-size: 18px;
    }
    .back-icon {
        color: $blue;
        margin-left: 10px;
        display: none;
    }
    .information-icon {
        position: absolute;
        right: 20px;
        font-size: 24px;
        z-index: 99;
        cursor: pointer;
    }
}