@import "../../assets/base.scss";
.chat-header-wrapper{
    border-bottom: 1px solid $border;
    position: absolute;
    top: 0;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    .chat-title{
        padding-left: 10px;
        font-size: 18px;
    }
}