.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.viaGithub {
    font-size: 10px;
    position: absolute;
    top: -6px;
    left: 34px;
}

.UserAvatar {
    position: relative;
}