@import "../../assets/base.scss";
@import '~emoji-mart/css/emoji-mart.css';
.input-msg {
    height: 50px;
    position: relative;
    display: flex;
    width: 100%;
    background-color: $gray-tab;
    padding: 8px 10px ;
    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        opacity: 0;
        z-index: 9;
    }
    .emoji-mart {
        width: 300px;
        position: fixed;
        z-index: 999;
        bottom: 50px;
        opacity: 0.9;
        background-color: rgba(255, 255, 255, 0.993);
        .emoji-mart-search {
            display: none;
        }
        .emoji-mart-bar {
            opacity: 0.8;
            line-height: 0;
            border-bottom-width: 0;
        }
        .emoji-mart-category-label {
            color: $m-title;
            font-size: 12px;
        }
    }
    .left{
        width: 76px;
        overflow: hidden;
        display: flex;
        align-items: center;
        svg {
            font-size: 30px;
            margin: 0 4px;
        }
        .emoji, .file {
            cursor: pointer;
        }
        .file-input {
            display: none;
        }
    }
    .filterMembers {
        list-style: none;
        overflow-y: auto;
        max-height: 120px;
        width: 140px;
        position: absolute;
        bottom: 50px;
        left: 90px;
        z-index: 100;
        background-color: $background-color;
        padding: 4px 0;
        color: #3c415e;
        li:hover{
            background-color: #fff;
        }
        li {
            cursor: pointer;
            padding: 4px;
        }
    }
    textarea {
        width: calc(100% - 148px);
        margin: 0 10px 0 2px;
        border-radius: 2px;
        outline: none;
        resize: none;
        border: 1px solid #fff;
        font: 14px 'Microsoft Yahei';
    }
    p.btn {
        width: 60px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        color: white;
        border-radius: 2px;
        font-family: 'Microsoft Yahei';
        cursor: not-allowed;
    }
    p.btnActive {
        background-color: $blue;
        cursor: pointer !important;
    }
}