@import "../../assets/base.scss";

.input-msg {
    height: 50px;
    position: relative;
    overflow:hidden;
    display: flex;
    width: 100%;
    background-color: $gray-tab;
    padding: 8px 10px ;
    .left{
        width: 76px;
        overflow: hidden;
        display: flex;
        align-items: center;
        svg {
            font-size: 30px;
            margin: 0 4px;
        }
    }
    textarea {
        width: calc(100% - 148px);
        margin: 0 10px 0 2px;
        // padding-top: 26px;
        // padding-left: 4px;
        border-radius: 2px;
        outline: none;
        resize: none;
        border: 1px solid #fff;
        font: 14px 'Microsoft Yahei';
    }
    p.btn {
        width: 60px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        color: white;
        border-radius: 2px;
        font-family: 'Microsoft Yahei';
    }
}