$blue: #66b3ef;
$gray:#555;
$gray-tab:rgb(243, 243, 243);
$border:rgb(243, 238, 238) ;
$m-title:#676767;
$background-color:#f6f7f9;
$other-msg-color: #f3f3f3;
$my-msg-color: #daf4fe;
$warn-red: #e44545;