$blue: #66b3ef;
$gray:#555;
$title:#676767;
$lightGray: #b4b8b9d3;
$grayTab:rgb(243, 243, 243);
$border:rgb(243, 238, 238) ;
$backgroundColor:#f6f7f9;
$otherMsgColor: #f3f3f3;
$myMsgColor: #daf4fe;
$warnRed: #e44545;
$lightBruce: #f3f8ff;
