@import "./base.scss";
.chat-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    ul {
        height: calc(100% - 100px);
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow-y: auto;
        li {
            padding: 0;
        }
    }
}