@import "../../assets/base.scss";
.chat-information {
    height: calc(100% - 50px);
    width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $background-color;
    opacity: 0.97;
    z-index: 99;
    .info {
      padding: 20px 16px 0;
      .noticeTitle {
        color: $m-title;
        padding-bottom: 10px;
        font-size: 14px;
      }
      .noticeContent {
          word-wrap: break-word;
      }
    }
    .members{
      padding: 20px 0;
      list-style: none;
      overflow-y: auto;
      font-size: 18px;
      height: calc(100% - 140px);
      .member {
        padding: 10px 10px 0;
        display: flex;
        align-items: center;
        .memberName {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 120px;
          padding-left: 10px;
        }
      }
    }
    .leave {
      position: absolute;
      bottom: 0;
      border-top: 1px solid $border;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      font-size: 14px;
      color: $warn-red;
    }
}